body {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

div.column {
	width: 25%;
	float: left;
	padding-right: 20px;
}

h4 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
}

.hidden {
	display: none;
}

#newsTicker {
	height: 50px;
	overflow: hidden;
	background: #fefefe;
	color: #333;
	border: 1px solid #4a4a4a;
	position: relative;
}

#newsTicker p {
	font-size: 1.5em;
	font-weight: bold;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0px;
	line-height: 50px;
	text-align: center;
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-moz-animation: scroll-left 20s linear infinite;
	-webkit-animation: scroll-left 20s linear infinite;
	animation: scroll-left 20s linear infinite;
}

@-moz-keyframes scroll-left {
	0% {
		-moz-transform: translateX(100%);
	}
	100% {
		-moz-transform: translateX(-100%);
	}
}

@-webkit-keyframes scroll-left {
	0% {
		-webkit-transform: translateX(100%);
	}
	100% {
		-webkit-transform: translateX(-100%);
	}
}

@keyframes scroll-left {
	0% {
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	100% {
		-moz-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}

.project-container {
	border: 1px solid black;
	margin: 5px;
}
.project-container:hover {
	background-color: lightgrey;
}

.project-container.disabled {
	opacity: 50%;
}
.project-container.disabled:hover {
	background-color: white;
}

.project-container .project-title {
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 0px;
}
.project-container .project-cost {
	text-align: center;
	margin: 0px;
}
.project-container .project-description {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 10px;
}