
<div id="community-events" class="hidden">
<h4>Community Events</h4>

<p>Community Engagement: <span id="engagement-pts">0</span>/<span id="engagement-max">100</span></p>

<div id="event">
	<h5>Next Event: <span id="next-event-name"></span></h5>
	<div id="event-timer" class="progress-bar">
		<div id="event-progress" class="progress"></div>
		<p id="event-progress-label" class="build-multiplier"></p>
	</div>
	<!--p>Progress: 50/100 (planning/plotting/advertising)</p-->
	<!--progress increments slowly, but you can click to speed it up-->
	<button id="help-event" onClick="eventStep()">Contribute</button>
	<button id="launch-event" disabled onClick="launchEvent()">Launch Event</button>
</div>
</div>